/* Variable overrides */
$body-bg: #1e293b;
$body-color: #d5dbe4;

$theme-colors: (
  'light': rgba(101,108,133,0.8),
  'secondary': #0f39c8,
  'primary': #0f39c8
);

#root{
  height: 100%;
}
/*
 * Base structure
 */
.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  text-align: center;
}

.cover-container {
  max-width: 42em;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .5rem 1rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";
